altair==6.0.0 ; python_version >= "3.10"
attrs==25.4.0 ; python_version >= "3.10"
blinker==1.9.0 ; python_version >= "3.10"
cachetools==6.2.4 ; python_version >= "3.10"
certifi==2026.1.4 ; python_version >= "3.10"
charset-normalizer==3.4.4 ; python_version >= "3.10"
click==8.3.1 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10" and platform_system == "Windows"
gitdb==4.0.12 ; python_version >= "3.10"
gitpython==3.1.46 ; python_version >= "3.10"
idna==3.11 ; python_version >= "3.10"
jinja2==3.1.6 ; python_version >= "3.10"
joblib==1.5.3 ; python_version >= "3.10"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10"
jsonschema==4.26.0 ; python_version >= "3.10"
markupsafe==3.0.3 ; python_version >= "3.10"
narwhals==2.15.0 ; python_version >= "3.10"
numpy==1.26.4 ; python_version >= "3.10"
packaging==25.0 ; python_version >= "3.10"
pandas==2.2.2 ; python_version >= "3.10"
pillow==12.1.0 ; python_version >= "3.10"
protobuf==6.33.4 ; python_version >= "3.10"
pyarrow==22.0.0 ; python_version >= "3.10"
pydeck==0.9.1 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
pytz==2025.2 ; python_version >= "3.10"
referencing==0.37.0 ; python_version >= "3.10"
requests==2.32.5 ; python_version >= "3.10"
rpds-py==0.30.0 ; python_version >= "3.10"
scikit-learn==1.7.0 ; python_version >= "3.10"
scipy==1.15.3 ; python_version == "3.10"
scipy==1.17.0 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.10"
smmap==5.0.2 ; python_version >= "3.10"
streamlit==1.52.2 ; python_version >= "3.10"
tenacity==9.1.2 ; python_version >= "3.10"
threadpoolctl==3.6.0 ; python_version >= "3.10"
toml==0.10.2 ; python_version >= "3.10"
tornado==6.5.4 ; python_version >= "3.10"
typing-extensions==4.15.0 ; python_version >= "3.10"
tzdata==2025.3 ; python_version >= "3.10"
urllib3==2.6.3 ; python_version >= "3.10"
watchdog==6.0.0 ; platform_system != "Darwin" and python_version >= "3.10"
